In [ ]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
data=pd.read_csv('Seol Bike Data.csv')
display(data)

            Date  Rented Bike Count  Hour  ...  Seasons     Holiday  Functioning Day
0     01/12/2017                254     0  ...   Winter  No Holiday              Yes
1     01/12/2017                204     1  ...   Winter  No Holiday              Yes
2     01/12/2017                173     2  ...   Winter  No Holiday              Yes
3     01/12/2017                107     3  ...   Winter  No Holiday              Yes
4     01/12/2017                 78     4  ...   Winter  No Holiday              Yes
...          ...                ...   ...  ...      ...         ...              ...
8755  30/11/2018               1003    19  ...   Autumn  No Holiday              Yes
8756  30/11/2018                764    20  ...   Autumn  No Holiday              Yes
8757  30/11/2018                694    21  ...   Autumn  No Holiday              Yes
8758  30/11/2018                712    22  ...   Autumn  No Holiday              Yes
8759  30/11/2018                584    23  ...   Autumn  No Holiday              Yes

[8760 rows x 14 columns]

In [ ]:
data.shape

(8760, 16)

**Factors that influence bike Rented**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8760 non-null   object
 1   Rented Bike Count         8760 non-null   int64
 2   Hour                      8760 non-null   int64
 3   Temperature(C)            8760 non-null   float64
 4   Humidity(%)               8760 non-null   int64
 5   Wind speed (m/s)          8760 non-null   float64
 6   Visibility (10m)          8760 non-null   int64
 7   Dew point temperature(C)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)   8760 non-null   float64
 9   Rainfall(mm)              8760 non-null   float64
 10  Snowfall (cm)             8760 non-null   float64
 11  Seasons                   8760 non-null   object
 12  Holiday                   8760 non-null   object
 13  Functioning Day           8760 non-null   object
 14  seasons_coded             8760 non-null   int64
 15  holiday_coded             8760 non-null   int64
dtypes: float64(6), int64(6), object(4)
memory usage: 1.1+ MB

In [ ]:
data['Seasons'].value_counts()

Summer    2208
Spring    2208
Autumn    2184
Winter    2160
Name: Seasons, dtype: int64

In [ ]:
data['seasons_coded']=data.Seasons.map({'Summer':0,'Spring':1,'Autumn':2,'Winter':3})

In [ ]:
data['Holiday'].value_counts()

No Holiday    8328
Holiday        432
Name: Holiday, dtype: int64

In [ ]:
data['holiday_coded']=data.Holiday.map({'No Holiday':0,'Holiday':1})

In [ ]:
data['Functioning Day'].value_counts()

Yes    8465
No      295
Name: Functioning Day, dtype: int64

In [ ]:
data['functioning_coded']=data['Functioning Day'].map({'Yes':0,'No':1})

In [ ]:
data.drop('Seasons',axis=1,inplace=True)

In [ ]:
data.drop('Holiday',axis=1,inplace=True)

In [ ]:
data.drop('Functioning Day',axis=1,inplace=True)

In [ ]:
data.dtypes

Rented Bike Count             int64
Hour                          int64
Temperature(C)              float64
Humidity(%)                   int64
Wind speed (m/s)            float64
Visibility (10m)              int64
Dew point temperature(C)    float64
Solar Radiation (MJ/m2)     float64
Rainfall(mm)                float64
Snowfall (cm)               float64
seasons_coded                 int64
holiday_coded                 int64
functioning_coded             int64
dtype: object

In [ ]:
miss_val=data.isna().sum()
miss_val

Rented Bike Count           0
Hour                        0
Temperature(C)              0
Humidity(%)                 0
Wind speed (m/s)            0
Visibility (10m)            0
Dew point temperature(C)    0
Solar Radiation (MJ/m2)     0
Rainfall(mm)                0
Snowfall (cm)               0
seasons_coded               0
holiday_coded               0
functioning_coded           0
dtype: int64

In [ ]:
data.describe()

       Rented Bike Count         Hour  ...  holiday_coded  functioning_coded
count        8760.000000  8760.000000  ...    8760.000000        8760.000000
mean          704.602055    11.500000  ...       0.049315           0.033676
std           644.997468     6.922582  ...       0.216537           0.180404
min             0.000000     0.000000  ...       0.000000           0.000000
25%           191.000000     5.750000  ...       0.000000           0.000000
50%           504.500000    11.500000  ...       0.000000           0.000000
75%          1065.250000    17.250000  ...       0.000000           0.000000
max          3556.000000    23.000000  ...       1.000000           1.000000

[8 rows x 13 columns]

In [ ]:
data.columns

Index(['Rented Bike Count', 'Hour', 'Temperature(C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)',
       'seasons_coded', 'holiday_coded', 'functioning_coded'],
      dtype='object')

In [ ]:
new_data=data[['Hour', 'Temperature(C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)',
       'seasons_coded', 'holiday_coded', 'functioning_coded','Rented Bike Count']]

In [ ]:
new_data.head()

   Hour  Temperature(C)  ...  functioning_coded  Rented Bike Count
0     0            -5.2  ...                  0                254
1     1            -5.5  ...                  0                204
2     2            -6.0  ...                  0                173
3     3            -6.2  ...                  0                107
4     4            -6.0  ...                  0                 78

[5 rows x 13 columns]

In [ ]:
X = new_data.iloc[:, :-1]
# display(X)
y = new_data.iloc[:,-1]
# display(y)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [ ]:
display(x_train.head())
display(x_test.head())

      Hour  Temperature(C)  ...  holiday_coded  functioning_coded
7051    19            18.9  ...              0                  0
6526    22            24.3  ...              0                  0
943      7            -5.9  ...              0                  0
3912     0            15.5  ...              0                  0
4300     4            19.8  ...              0                  0

[5 rows x 12 columns]

      Hour  Temperature(C)  ...  holiday_coded  functioning_coded
5498     2            25.2  ...              0                  0
7947     3             6.2  ...              0                  0
5893    13            36.8  ...              0                  0
55       7             3.1  ...              0                  0
6376    16            31.7  ...              0                  0

[5 rows x 12 columns]

In [ ]:
display(y_train.head())
display(y_test.head())

7051    1272
6526      74
943      245
3912     145
4300     204
Name: Rented Bike Count, dtype: int64

5498    526
7947    299
5893    585
55       22
6376    944
Name: Rented Bike Count, dtype: int64

In [ ]:
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(6570, 12) (2190, 12) (6570,) (2190,)

In [ ]:
from sklearn.linear_model import LinearRegression

ln_reg = LinearRegression()
ln_reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
from sklearn.metrics import mean_squared_error , mean_absolute_error , r2_score

In [ ]:
df_pred = ln_reg.predict(x_train)
print('mean absolute error of linear regression:', mean_absolute_error(df_pred,y_train))

mean absolute error of linear regression: 330.5086706215751

In [ ]:
print('Mean Square Error of linear regression:', mean_squared_error(df_pred,y_train))

Mean Square Error of linear regression: 198012.63231009923

In [ ]:
print('R_Squared Score of linear regression:', r2_score(df_pred,y_train))

R_Squared Score of linear regression: 0.0933916071297426

In [ ]:
#final prediction on test data
predic_test = ln_reg.predict(x_test)

#Create Sample Submission file 
submission_data = pd.DataFrame({'Pred_Rented Bike Count':predic_test})
submission_data
x_test = pd.DataFrame(y_test)
y_test['Predicted'] = submission_data['Pred_Rented Bike Count']
y_test

      Rented Bike Count   Predicted
5498                526         NaN
7947                299         NaN
5893                585         NaN
55                   22  141.746178
6376                944         NaN
...                 ...         ...
447                 195  522.176376
1865                210 -193.792141
4643               1092         NaN
3151                  0         NaN
2268                438         NaN

[2190 rows x 2 columns]

In [ ]:
# using Ridge(L2) Regression to improve model accuracy
from sklearn.linear_model import Ridge

ridge = Ridge()
ridge

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [ ]:
ridge.fit(x_train,y_train)
ridge_score = ridge.score(x_train,y_train)
coeff_used = np.sum(ridge.coef_ != 0)
ridge.coef_

array([ 2.67848908e+01,  3.08703939e+01, -7.37835279e+00,  5.19375178e+00,
        3.78783431e-02,  2.20112737e+00, -7.83028872e+01, -6.48996494e+01,
        1.15454585e+01,  9.27690765e+00, -1.43503036e+02, -8.28779336e+02])

In [ ]:
print("training score",ridge_score)

training score 0.5244902196362022

In [ ]:
print("number of feature used:",coeff_used)

number of feature used: 12

In [ ]:
# using Lasco Regression to improve model accuracy
from sklearn.linear_model import Lasso 
lasso = Lasso()
lasso

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
lasso.fit(x_train,y_train)
lasso_score = lasso.score(x_train,y_train)
coeff_used = np.sum(lasso.coef_ != 0)
lasso.coef_

array([ 2.69180092e+01,  3.05082633e+01, -7.26555698e+00,  3.30001650e+00,
        3.85759836e-02,  1.98298683e+00, -7.45781210e+01, -6.40196885e+01,
        6.52783149e+00,  4.25559477e+00, -1.21581241e+02, -7.97394606e+02])

In [ ]:
print("training score",lasso_score)

training score 0.5243103149348922

In [ ]:
print("number of feature used:",coeff_used)

number of feature used: 12